
<! -- howdy/templates/about.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SignHelper</title>
    </head>
    <body>
        <h1>Welcome to the about page</h1>
    <p>
    Signhelper is here to bridge the communication gap that exists between students with a hearing disability
        and their educators. We allow the student to simply select the image of what matches what they are trying to
        tell their teacher and store the data creating a personalized action log for each student.
    </p>
    <a href="/">Go back home</a>
    </body>
</html>
