
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
<body>
	<div class="container">
		<div class="jumbotron text-center">
    		<h1>SignHelper</h1>
			<form action="http://127.0.0.1:8000/index/">
				<p>
					<label>Please Choose a student to start:</label>
					<input type="text" name ="Student Name" list="students"/>
					<datalist id ="students">
						<option value ="Steve Sica">Steve Sica</option>
						<option value="Terry Swan">Terry Swan</option>
						<option value="Eric Keeley">Eric Keeley</option>
						<option value="Matthew Gonzalez">Matthew Gonzalez</option>
					</datalist>
					<br/><br/>

					<input type="submit" value="Log In" />
					<input type="submit" value="Register New Student" />
				</p>

			<a href="/index/">Home Page</a>
			<a href="/about/">About Me</a>
			</form>
		</div>
	</div>


</body>
</html>


